In [1]:
import numpy as np
import pandas as pd

In [6]:
d1={'name':['shree','Ayusha','Arati',' Yashwini','Shreeniti',],
    'ID':[1,2,3,4,5],
    'Salary':[100,300,np.nan,pd.NaT,400],
    'Role':['CEO',None,pd.NaT,pd.NaT,pd.NaT]}

In [7]:
df=pd.DataFrame(d1)

In [8]:
print(df)

        name  ID Salary  Role
0      shree   1    100   CEO
1     Ayusha   2    300  None
2      Arati   3    NaN   NaT
3   Yashwini   4    NaT   NaT
4  Shreeniti   5    400   NaT

In [9]:
df.head(2)

     name  ID Salary  Role
0   shree   1    100   CEO
1  Ayusha   2    300  None

In [12]:
df.tail(3)

        name  ID Salary Role
2      Arati   3    NaN  NaT
3   Yashwini   4    NaT  NaT
4  Shreeniti   5    400  NaT

In [11]:
df.isnull().sum()

name      0
ID        0
Salary    2
Role      4
dtype: int64